[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "physx"]
	path = physx
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:Microsoft/vcpkg.git
[submodule "entt"]
	path = entt
	url = git@github.com:skypjack/entt.git
